
:root {
    --size : 18px;
    --blue : #12e7e7;
    --orange : #fea501;
  }
  
.Board {
    margin-top: 3rem;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 
        0 0 calc(.1*var(--size)) #000,
        0 0 calc(.5*var(--size)) #fff
}


.won {
    color: white;

    font-size: calc(2*var(--size));
    letter-spacing: 2px;
    margin-bottom: 0;
    padding: 0 var(--size);

    text-shadow: 
        0 0 calc(1*var(--size)) white,
        0 0 calc(2*var(--size)) white,
        0 0 calc(4*var(--size)) white;
}

